* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    position: relative;
}

:root {
    --primary-0: #666797;
    --primary-1: #8585ac;
    --text-0: #BECDE6;
    --text-1: #EAE8FD;
    --background-0: #2F3135;
    --background-1: #4A545C;
    --background-2: #657B81;
}

.root {
    width: 100%;
    height: 100%;
    position: relative;
}
